# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.clang-tidy
/build/CMakeFiles/eon-editor_autogen.dir/AutogenInfo.json
/build/CMakeFiles/eon-engine-core_autogen.dir/AutogenInfo.json
/build/CMakeFiles/eon-runtime_autogen.dir/AutogenInfo.json
/build/CMakeFiles/eon-editor_autogen.dir/AutogenUsed.txt
/build/CMakeFiles/eon-engine-core_autogen.dir/AutogenUsed.txt
/build/CMakeFiles/eon-runtime_autogen.dir/AutogenUsed.txt
/build/CMakeFiles/eon-editor.dir/build.make
/build/CMakeFiles/eon-editor_autogen.dir/build.make
/build/CMakeFiles/eon-engine-core.dir/build.make
/build/CMakeFiles/eon-engine-core_autogen.dir/build.make
/build/CMakeFiles/eon-runtime.dir/build.make
/build/CMakeFiles/eon-runtime_autogen.dir/build.make
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/eon-editor.dir/cmake_clean.cmake
/build/CMakeFiles/eon-editor_autogen.dir/cmake_clean.cmake
/build/CMakeFiles/eon-engine-core.dir/cmake_clean.cmake
/build/CMakeFiles/eon-engine-core_autogen.dir/cmake_clean.cmake
/build/CMakeFiles/eon-runtime.dir/cmake_clean.cmake
/build/CMakeFiles/eon-runtime_autogen.dir/cmake_clean.cmake
/build/CMakeFiles/eon-engine-core.dir/cmake_clean_target.cmake
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/CMakeRuleHashes.txt
/build/CMakeFiles/3.22.1/CMakeSystem.cmake
/build/CMakeFiles/eon-editor.dir/compiler_depend.make
/build/CMakeFiles/eon-editor_autogen.dir/compiler_depend.make
/build/CMakeFiles/eon-engine-core.dir/compiler_depend.make
/build/CMakeFiles/eon-engine-core_autogen.dir/compiler_depend.make
/build/CMakeFiles/eon-runtime.dir/compiler_depend.make
/build/CMakeFiles/eon-runtime_autogen.dir/compiler_depend.make
/build/CMakeFiles/eon-editor.dir/compiler_depend.ts
/build/CMakeFiles/eon-editor_autogen.dir/compiler_depend.ts
/build/CMakeFiles/eon-engine-core.dir/compiler_depend.ts
/build/CMakeFiles/eon-engine-core_autogen.dir/compiler_depend.ts
/build/CMakeFiles/eon-runtime.dir/compiler_depend.ts
/build/CMakeFiles/eon-runtime_autogen.dir/compiler_depend.ts
/build/CMakeFiles/eon-editor.dir/depend.make
/build/CMakeFiles/eon-engine-core.dir/depend.make
/build/CMakeFiles/eon-runtime.dir/depend.make
/build/CMakeFiles/eon-editor.dir/DependInfo.cmake
/build/CMakeFiles/eon-editor_autogen.dir/DependInfo.cmake
/build/CMakeFiles/eon-engine-core.dir/DependInfo.cmake
/build/CMakeFiles/eon-engine-core_autogen.dir/DependInfo.cmake
/build/CMakeFiles/eon-runtime.dir/DependInfo.cmake
/build/CMakeFiles/eon-runtime_autogen.dir/DependInfo.cmake
/build/eon-editor
/build/eon-runtime
/build/CMakeFiles/eon-editor.dir/flags.make
/build/CMakeFiles/eon-engine-core.dir/flags.make
/build/CMakeFiles/eon-runtime.dir/flags.make
/build/CMakeFiles/eon-editor.dir/link.txt
/build/CMakeFiles/eon-engine-core.dir/link.txt
/build/CMakeFiles/eon-runtime.dir/link.txt
/build/Makefile
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/build/eon-editor_autogen/SMGBADRKRP/moc_MainWindow.cpp
/build/eon-editor_autogen/moc_predefs.h
/build/eon-engine-core_autogen/moc_predefs.h
/build/eon-runtime_autogen/moc_predefs.h
/build/eon-editor_autogen/mocs_compilation.cpp
/build/eon-engine-core_autogen/mocs_compilation.cpp
/build/eon-runtime_autogen/mocs_compilation.cpp
/build/CMakeFiles/eon-editor_autogen.dir/ParseCache.txt
/build/CMakeFiles/eon-engine-core_autogen.dir/ParseCache.txt
/build/CMakeFiles/eon-runtime_autogen.dir/ParseCache.txt
/build/CMakeFiles/eon-editor.dir/progress.make
/build/CMakeFiles/eon-editor_autogen.dir/progress.make
/build/CMakeFiles/eon-engine-core.dir/progress.make
/build/CMakeFiles/eon-engine-core_autogen.dir/progress.make
/build/CMakeFiles/eon-runtime.dir/progress.make
/build/CMakeFiles/eon-runtime_autogen.dir/progress.make
/build/CMakeFiles/progress.marks
/build/CMakeFiles/TargetDirectories.txt
